.top {
  height: 100rem;
  background-image: url("../assets/background.png");
  background-position: calc(50% - 8rem) calc(50% - 3.5rem);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15rem;
}

.call-to-action-left {
  width: 43rem;
  margin-top: 20rem;
  margin-right: 2rem;
}

.text-main {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02rem;
  margin-bottom: 5rem;
}

.subscribe-text {
  opacity: 0.7;
}

.subscription {
  margin-top: 2rem;
  position: relative;
}

.text-input--subscription {
  width: 100%;
}

.button--subscribe {
  position: absolute;
  right: 0;
}

.arrow--small-screen {
  display: none;
}

.video {
  margin-top: 10rem;
}

@media screen and (max-width: 1070px) { 
  .top {
    background-position: calc(50% - 8rem) calc(50% - 13rem);
  }

  .call-to-action {
    flex-direction: column;
    width: 80%;
  }

  .call-to-action-left {
    margin: 15rem 0 17rem 0;
    width: 100%;
  }

  .text-main {
    margin-bottom: 7rem;
  }

  .arrow--small-screen {
    display: block;
  }

  .video {
    width: 80%;
  }

  .arrow--large-screen {
    display: none;
  }
}

@media screen and (max-width: 500px) { 
  .call-to-action {
    width: 90%;
  }

  .call-to-action-left {
    margin: 10rem 0 6rem 0;
  }
  
  .subscription {
    position: static;
  }
  
  .text-input--subscription {
    margin-bottom: 2rem;
    width: 100%;
  }

  .button--subscribe {
    position: static;
    width: 100%;
  }

  .video {
    width: 100%;
  }
}