.footer-wrapper {
  background: linear-gradient(
    180deg,
    #fafbff 0%,
    #eff1f9 41.68%,
    #e9ecf6 49.59%,
    #ced3e8 93.91%
  );
  padding-top: 4rem;
  padding-bottom: 4.8rem;
}

.footer-top {
  max-width: 1627px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  color: #263396;
  margin-bottom: 1.6rem;
}

.mail-link {
  color: #0f81ff;
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 5.6rem;
}

.footer-link {
  text-align: center;
  display: inline-block;
  border-right: 2px solid #9ca4c7;
  color: #45515f;
  height: 2.2rem;
  width: 20rem;
}

.footer-link:last-child {
  border-right: none;
}

.footer-links-mobile {
  display: none;
}

@media screen and (max-width: 1110px) {
  .footer-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .footer-top {
    justify-content: flex-end;
  }

  .footer-logo {
    margin-right: auto;
  }

  .footer-contact {
    margin-right: 10rem;
  }
}

@media screen and (max-width: 730px) {
  .footer-wrapper {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    width: 5.5rem;
    margin-bottom: 1.6rem;
  }

  .footer-contact {
    margin-bottom: 4rem;
    margin-right: 0;
  }

  .footer-text {
    font-size: 1.6rem;
  }

  .button--whitepaper {
    width: 80%;
  }

  .footer-links {
    display: none;
  }

  .footer-links-mobile {
    display: block;
    margin-top: 1.6rem;
  }

  .footer-links-mobile-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.6rem;
  }

  .footer-link {
    font-size: 1.2rem;
    line-height: 2.4rem;
    border-right: none;
    margin-bottom: 1.6rem;
  }
}
