@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

:root {
  font-size: 62.5%;
}

/* @media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  :root {
    font-size: 125%;
  }
} */

main {
  max-width: 1627px;
  width: 100%;
  margin: 0 auto;
}

p,
h1,
h2,
a,
button,
input::placeholder {
  font-family: "Sen", Helvetica, monospace;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
}

.text-input {
  font-family: "Sen", Helvetica, monospace;
  height: 3.8rem;
  border: none;
  border-radius: 100rem;
  padding: 0 1.2rem;
}

.text-input::placeholder {
  color: #576677;
}

button {
  font-family: "Sen", Helvetica, monospace;
  border: none;
  height: 3.8rem;
  padding: 0 3rem;
  border-radius: 100rem;
  background-color: #38a5db;
  color: white;
}
