@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

:root {
  font-size: 62.5%;
}

/* @media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  :root {
    font-size: 125%;
  }
} */

main {
  margin: 0 auto;
}

p,
h1,
h2,
a,
span,
button,
label,
input::placeholder,
input[type="submit"] {
  font-family: "Sen", Helvetica, monospace;
  color: #ffffff;
  font-size: 1.8rem;
  text-decoration: none;
}

.text-input {
  font-family: "Sen", Helvetica, monospace;
  height: 4.6rem;
  border: none;
  border-radius: 100rem;
  padding: 0 2rem;
}

.text-input::placeholder {
  color: #576677;
}

.button {
  font-family: "Sen", Helvetica, monospace;
  border: none;
  height: 4.6rem;
  padding: 0 3rem;
  border-radius: 100rem;
  background-color: #38a5db;
  color: white;
  box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
}

.header {
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1.2rem;
}

.text {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  label {
    font-size: 1.8rem;
  }
}
