.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 13rem;
  z-index: 1000;
}

.nav-link {
  display: inline-block;
  padding: 0.5rem 0.2rem;
  margin-right: 2.3rem;
  color: #1C2085;
  font-size: 1.6rem;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link--selected {
  border-bottom: 2px solid #1C2085;
}


@media screen and (max-width: 1110px) {
  .main-nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .link--nav {
    margin-right: 3rem;
  }

  .link--nav:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    width: 5.6rem;
  }

  .link--nav {
    margin-right: 1rem;
  }

  .link--nav:last-child {
    margin-right: 0;
  }
}