.team {
  max-width: 1627px;
  margin: 0 auto;
  width: 80%;
  margin: 0 auto;
}

.header--team {
  color: #1C1F83;
  margin-bottom: 4.4rem;
}

.team-members {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.6rem;
  scroll-behavior: smooth;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.team-members::-webkit-scrollbar {
  display: none;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 27rem;
  width: 27rem;
  margin-right: 2.5rem;
}

.team-member:last-child {
  margin-right: 0;
}

.team-img {
  border-radius: 100%;
  margin-bottom: 1.6rem
}

.team-header {
  text-align: center;
  font-size: 2.4rem;
  color: #38A5DB;
  margin-bottom: 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.team-subheader {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #011226;
  opacity: 0.5;
  margin-bottom: 1.6rem
}

.text--team {
  text-align: center;
  color: #45515F;
  margin-bottom: 3.2rem
}

.team-links {
  display: flex;
}

.team-link {
  margin-right: 0.6rem;
  padding: 0.5rem 1.7rem;
  border: 1px solid #D9DDE1;
  border-radius: 3px;
}

.team-link:last-child {
  margin-right: 0;
}

.team-scroll-dots {
  display: flex;
  justify-content: center;
}

.team-dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #C4C4C4;
  border-radius: 100%;
  margin-right: 0.8rem;
  cursor: pointer;
}

.team-dot:last-child {
  margin-right: 0;
}

.team-dot--active {
  background-color: #4250BF;
}

@media screen and (max-width: 1110px) { 
  .team {
    width: 100%;
  }
}

@media screen and (max-width: 600px) { 
  .team-member {
    min-width: 13.6rem;
    width: 13.6rem;
  }

  .team-header {
    font-size: 1.6rem;
    line-height: 3.4rem;
    margin-bottom: 0;
  }
  
  .team-subheader {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 0.8rem
  }
  
  .text--team {
    margin-bottom: 1.4rem
  }
}